.row
  .col-sm-10.col-sm-offset-1
    %hr
    .row.business
      %figure.col-sm-2
        = image_tag '90x90.png'
      .business-info.col-sm-10
        .pull-left
          %h4
            %span 1.
            = link_to business.name, business_path(business)
          %p
            %strong Rating:
            #{business.average_rating}/5
            %small (#{business.reviews.count} reviews)
        %section.location.pull-right
          %p.area
            = business.area
          %p.address
            = business_address(business)
          %p.phone
            = phone_number(business.phone)

    - if business.reviews.any?
      .row.review-preview
        .col-sm-12
          %figure
            = image_tag '30x30.png'
          %p
            = review_preview(business.reviews.first)
            = link_to 'read more', business_path(business)