.container
  .row
    .well.form-container.col-sm-8.col-sm-offset-2
      %h3 Add a Business
      %hr
      = form_for @business do |f|
        - if @business.errors.any?
          = render 'shared/errors', model: @business
        .row
          .form-group.col-sm-8
            = f.label :name
            = f.text_field :name, class: 'form-control', placeholder: 'ex: Chipotle'
        .row
          .form-group.col-sm-8
            = f.label :street, 'Street Address'
            = f.text_field :street, class: 'form-control', placeholder: 'ex: 310W 36th Sreet'
        .row
          .form-group.col-sm-4
            = f.label :city
            = f.text_field :city, class: 'form-control', placeholder: 'ex: New York'
          .form-group.col-sm-2
            = f.label :state
            = f.text_field :state, class: 'form-control', placeholder: 'ex: NY'
          .form-group.col-sm-2
            = f.label :zipcode
            = f.text_field :zipcode, class: 'form-control', placeholder: 'ex: 10001', minlength: 5, maxlength: 5
        .row
          .form-group.col-sm-8
            = f.label :area
            = f.text_field :area, class: 'form-control', placeholder: 'ex: Midtown'
        .row
          .form-group.col-sm-8
            = f.label :phone
            = f.phone_field :phone, class: 'form-control', placeholder: 'ex: 1112224444', minlength: 10, maxlength: 10
        .form-group
          = f.submit class: 'btn btn-primary'