.container
  .business-details
    .row
      .col-sm-4
        = image_tag '250x250.png'
      .col-sm-4
        %h1= @business.name
        %h3
          #{@business.average_rating}/5
          %small #{@business.reviews.count} reviews
        %section.location
          %p.address= business_address(@business)
          %p.phone= phone_number(@business.phone)
          %p.area= @business.area
      .col-sm-4
        = link_to 'Write a Review', new_business_review_path(@business), class: 'btn write-review'

  .reviews
    %h3 Reviews
    = render @business.reviews