.container
  .business-details
    .row
      .col-sm-4
        = image_tag '250x250.png'
      .col-sm-4
        %h1 Chipotle
        %h3
          4.5/5
          %small 250 reviews
        %section.location
          %p.address 100 1st Ave, New York, NY 10000
          %p.phone (111) 444-5555
          %p.area East Village
      .col-sm-4
        %button.btn.write-review Write a Review

  .reviews
    %h3 Reviews
    .row
      %hr
      .row.review
        %figure.col-sm-1
          = image_tag '60x60.png'
        .col-sm-2
          %p.name
            = link_to '' do
              %strong First Last
          %p.location
            %strong New York, NY
          %p 3 reviews
          %p 4/10/2017
        .review-content.col-sm-8
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec velit non urna ornare tempor sed at justo. Nullam eu nisl sem. Integer non maximus purus. Maecenas vulputate dui eros, sed pharetra leo scelerisque eget. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin dictum sapien at felis convallis volutpat. Etiam non felis in nisi pulvinar iaculis non at elit. Quisque pellentesque dignissim felis id elementum.
          %br
          %br
          Suspendisse a venenatis nibh, ac sagittis dolor. Nullam mauris erat, sagittis a vehicula ut, mollis nec tortor. Fusce a eleifend nibh. Donec vel tortor enim. Suspendisse a neque sit amet arcu placerat aliquet porttitor rhoncus justo. Maecenas scelerisque est arcu, vel lobortis quam tristique sit amet. Pellentesque malesuada efficitur vehicula.


    .row
      %hr
      .row.review
        %figure.col-sm-1
          = image_tag '60x60.png'
        .col-sm-2
          %p.name
            = link_to '' do
              %strong First Last
          %p.location
            %strong New York, NY
          %p 3 reviews
          %p 4/10/2017
        .review-content.col-sm-8
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec velit non urna ornare tempor sed at justo. Nullam eu nisl sem. Integer non maximus purus. Maecenas vulputate dui eros, sed pharetra leo scelerisque eget. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin dictum sapien at felis convallis volutpat. Etiam non felis in nisi pulvinar iaculis non at elit. Quisque pellentesque dignissim felis id elementum.
          %br
          %br
          Suspendisse a venenatis nibh, ac sagittis dolor. Nullam mauris erat, sagittis a vehicula ut, mollis nec tortor. Fusce a eleifend nibh. Donec vel tortor enim. Suspendisse a neque sit amet arcu placerat aliquet porttitor rhoncus justo. Maecenas scelerisque est arcu, vel lobortis quam tristique sit amet. Pellentesque malesuada efficitur vehicula.

    .row
      %hr
      .row.review
        %figure.col-sm-1
          = image_tag '60x60.png'
        .col-sm-2
          %p.name
            = link_to '' do
              %strong First Last
          %p.location
            %strong New York, NY
          %p 3 reviews
          %p 4/10/2017
        .review-content.col-sm-8
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec velit non urna ornare tempor sed at justo. Nullam eu nisl sem. Integer non maximus purus. Maecenas vulputate dui eros, sed pharetra leo scelerisque eget. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin dictum sapien at felis convallis volutpat. Etiam non felis in nisi pulvinar iaculis non at elit. Quisque pellentesque dignissim felis id elementum.
          %br
          %br
          Suspendisse a venenatis nibh, ac sagittis dolor. Nullam mauris erat, sagittis a vehicula ut, mollis nec tortor. Fusce a eleifend nibh. Donec vel tortor enim. Suspendisse a neque sit amet arcu placerat aliquet porttitor rhoncus justo. Maecenas scelerisque est arcu, vel lobortis quam tristique sit amet. Pellentesque malesuada efficitur vehicula.

    .row
      %hr
      .row.review
        %figure.col-sm-1
          = image_tag '60x60.png'
        .col-sm-2
          %p.name
            = link_to '' do
              %strong First Last
          %p.location
            %strong New York, NY
          %p 3 reviews
          %p 4/10/2017
        .review-content.col-sm-8
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec velit non urna ornare tempor sed at justo. Nullam eu nisl sem. Integer non maximus purus. Maecenas vulputate dui eros, sed pharetra leo scelerisque eget. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin dictum sapien at felis convallis volutpat. Etiam non felis in nisi pulvinar iaculis non at elit. Quisque pellentesque dignissim felis id elementum.
          %br
          %br
          Suspendisse a venenatis nibh, ac sagittis dolor. Nullam mauris erat, sagittis a vehicula ut, mollis nec tortor. Fusce a eleifend nibh. Donec vel tortor enim. Suspendisse a neque sit amet arcu placerat aliquet porttitor rhoncus justo. Maecenas scelerisque est arcu, vel lobortis quam tristique sit amet. Pellentesque malesuada efficitur vehicula.